<div>
<h3>Add Funds</h3>
  <form method="post" action="/budget/add_funds">
    <label>Funds to be Added: </label>
    <input name="deposit_amount" type="number">
    <button type="submit">Add Funds</button>
  </form>
</div>
