  <div>
    <h3>Add Transaction:</h3>
    <form method="post" action="/transaction/create">
      <label for="category">Category:</label>
      <select name="category">
        <% @budget.categories.each do |category| %>
          <option value="<%= category.title %>"><%= category.title %></option>        
        <% end %>
      </select><br>
      <label>Description:</label>
      <input name="description" type="text"><br>
      <label>Transaction Amount:</label>
      <input name="transaction_amt" type="number"><br>
      <button class="btn" type="submit">Add Transaction</button>
    </form>
  </div>