<div>
  <h3>Add Expense Category Form</h3>
  <form method="post" action="/category/create">
    <label>Category Title: </label>
    <input name="cat_title" type="text">
    <label>Allotted Monthly Funds for Category: </label>
    <input name="cat_allotted_funds" type="number">
    <button type="submit">Create New Category</button>
  </form>
</div>