#banner {
  background-color: lightsalmon;
}

/* navbar styling */

#menu-container {
  display: flex;
}

/* category list styling */

li.category-item {
  display: flex;
  padding-top: .75em;
}

.category-item {
  margin-left: 1.5em;
}

/* login styling */

#login-container {
  display: flex;
}

form.login {
  width: 350px;
  border: 2px solid gray;
  margin: 2em;
  padding: 1em;
}