#bck-grd {
  height: 100%;
  min-height: 100vh;
  background: rgb(41,39,73);
  background: linear-gradient(320deg, rgba(41,39,73,1) 0%, rgba(243,199,252,1) 35%, rgba(240,240,240,1) 100%);
}

#banner {
  background-color: rgb(122, 255, 164);
  padding: .5em 2em;
}

#menu-container {
  display: flex;
}

button.btn {
  margin: 0 .25em;
  border: 1.5px solid #303030;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 1px #969696;
  background-color: #e6e6e6;
}

button.btn.stacked-btn {
  margin-top: .5em;
}

div {
  max-width: 1000px;
  margin: 1em;
  padding: 1em;
  border: 2px solid #a25ab6;
  box-shadow: 2px 2px 7px 1px #969696;
  border-radius: 5px;
  background-color: #f4f2f2;
}

label {
  margin-top: .5em;
}

/* category list styling */

li.category-item {
  display: flex;
  padding-top: .75em;
}

.category-item {
  margin-left: 1.5em;
}

/* login styling */

#login-container {
  display: flex;
}

form.login {
  width: 350px;
  border: 2px solid gray;
  margin: 2em;
  padding: 1em;
}